html(lang='en')
  head
    meta(charset='utf-8')
    title The HTML5 Herald
    meta(name='description', content='Airplane')
    meta(name='author', content='SitePoint')
    link(rel='stylesheet', href='css/styles.css')
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
    script(src='//cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js')
  body
    h1 Users
    ul#users
    script(src='js/scripts.js')
